* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #0d3b4a; 
    padding: 10px 0;
    box-shadow: 10px 8px 5px rgb(113, 4, 89);
}

.navbar ul {
    list-style: none; 
    display: flex; 
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white; 
    padding: 10px 20px; 
    display: block; 
    font-size: 20px; 
    font-family: Arial, sans-serif; 
}

.navbar ul li a:hover {
    background-color: #1d92cd; 
    border-radius: 
}


.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 36px;
    font-family:monospace;
    color: rgba(38, 4, 100, 0.839);
}

body{
    background-color: rgb(247, 227, 241);
}

img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
  }